

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table{
  @apply py-3 px-2.5 text-sm text-left border-y border-gray-200;
}
th,
td {
  @apply bg-neutral-100;
}
th{
  @apply font-semibold;
}
