

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@media (max-width: 768px) {
  /* Styles pour les écrans de moins de 768px */
  .container {
    width: 100%;
  }
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

